<!-- Footer: partial for website -->
<footer>
    <div><!-- Brand logo -->
        <a class="brand" href="/">
            <img src="/images/logo_transparent.PNG" alt="Ella Rises" class="brand-logo">
        </a>

        <!-- Copyright -->
        <p>&copy; <%= new Date().getFullYear() %> Ella Rises</p>
    </div>
</footer>

<!-- Main JS file -->
<script src="/js/main.js"></script>