<!-- Visitor links only; navbar wrapper/brand provided in layout -->
<a href="/">Home</a>
<a href="/events">Events</a>
<a href="/dashboard_public">Impact</a>
<a href="/addDonation">Donate</a>
<a href="/login">Sign In</a>
