<!-- Navbar for users with a general account: partial for the website -->
<a href="/">Home</a>
<a href="/events">Events</a>
<a href="/my-milestones">My Milestones</a>
<a href="/my-profile">My Profile</a>
<a href="/addSurvey">Submit a Survey</a>
<a href="/logout">Logout</a>
