<!-- Navbar for managers with admin priveleges: partial for the website -->
<nav>
    <a href="/">Home</a>

    <!-- CRUD sections -->
    <a href="/participants">Participants</a>
    <a href="/events">Events</a>
    <a href="/surveys">Surveys</a>
    <a href="/milestones">Milestones</a>
    <a href="/donations">Donations</a>
    <a href="/users">Manage Users</a>

    <!-- Dashboard -->
    <a href="/admin/dashboard">Dashboard</a>

    <a href="/logout">Logout</a>
</nav>